/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/
/cpsc4310-finalproject-norawhite/nbproject/private/
/cpsc4310-finalproject-norawhite/build/
/cpsc4310-finalproject-norawhite/dist/