h1 {
    text-align: center;
    padding-bottom: 2rem;
}

#hero {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#description {
    text-align: center;
    padding-bottom: 2rem;
}

#content {
    min-width: 800px;
    max-width: 800px;
}

.center-button {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#result {
    padding-top: 2rem;
}